MilyUnaNochesCliente/MilyUnaNochesWPFApp/Connected Services/MilyUnaNochesService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Profile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccessAccount">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="AccessAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAcceso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessAccount" nillable="true" type="tns:AccessAccount" />
</xs:schema>