MilyUnaNochesCliente/MilyUnaNochesWPFApp/Connected Services/MilyUnaNochesProxy/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1442/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="Provider">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProvider" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAddress" type="xs:int" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Provider" nillable="true" type="tns:Provider" />
  <xs:complexType name="ArrayOfProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Provider" nillable="true" type="tns:Provider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvider" nillable="true" type="tns:ArrayOfProvider" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCompra" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioVenta" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="RegisterPurchase_sv">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactoProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hora" type="ser:duration" />
      <xs:element minOccurs="0" name="IdProveedor" type="xs:int" />
      <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProductPurchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterPurchase_sv" nillable="true" type="tns:RegisterPurchase_sv" />
  <xs:complexType name="ArrayOfProductPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductPurchase" nillable="true" type="tns:ProductPurchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductPurchase" nillable="true" type="tns:ArrayOfProductPurchase" />
  <xs:complexType name="ProductPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactoProveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
      <xs:element minOccurs="0" name="MontoProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductPurchase" nillable="true" type="tns:ProductPurchase" />
  <xs:complexType name="ArrayOfConsultPurchase_SV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultPurchase_SV" nillable="true" type="tns:ConsultPurchase_SV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultPurchase_SV" nillable="true" type="tns:ArrayOfConsultPurchase_SV" />
  <xs:complexType name="ConsultPurchase_SV">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hora" type="ser:duration" />
      <xs:element minOccurs="0" name="amountPaid" type="xs:decimal" />
      <xs:element minOccurs="0" name="payMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="providerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="purchasedProducts" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultPurchase_SV" nillable="true" type="tns:ConsultPurchase_SV" />
</xs:schema>