MilyUnaNochesCliente/MilyUnaNochesWPFApp/Connected Services/MilyUnaNochesProxy/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1442/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" />
  <xs:import schemaLocation="http://localhost:1442/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" />
  <xs:import schemaLocation="http://localhost:1442/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>C
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="user" nillable="true" type="q2:Usuario" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="address" nillable="true" type="q3:UserDireccion" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="employee" nillable="true" type="q4:Empleado" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="acces" nillable="true" type="q5:Acceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArchiveClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArchiveEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileByNamePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileByNamePhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="GetUserProfileByNamePhoneResult" nillable="true" type="q6:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployeesBySearchTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveEmployeesBySearchTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="GetActiveEmployeesBySearchTermResult" nillable="true" type="q7:ArrayOfEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyExistinClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondLastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyExistinClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyExistinClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyExistinEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyExistinEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyExistinEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="address" nillable="true" type="q8:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="GetAddressResult" nillable="true" type="q9:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="newProvider" nillable="true" type="q10:Provider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProviderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="GetProvidersResult" nillable="true" type="q11:ArrayOfProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivedProviders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivedProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="GetArchivedProvidersResult" nillable="true" type="q12:ArrayOfProvider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProvider" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArchiveProviderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProvider" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProviderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyProviderExistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyProviderExistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyProviderExistanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnArchiveProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProvider" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnArchiveProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnArchiveProviderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProvider" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="GetSupplierResult" nillable="true" type="q13:Provider" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="newProviderInfo" nillable="true" type="q14:Provider" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="newAddressInfo" nillable="true" type="q15:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditSupplierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="product" nillable="true" type="q16:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="GetProductsResult" nillable="true" type="q17:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateProductName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateProductNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateProductNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="purchase" nillable="true" type="q18:RegisterPurchase_sv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePurchaseResult" type="xs:int" />
  <xs:element name="GetProductByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Logic" minOccurs="0" name="GetProductByCodeResult" nillable="true" type="q18:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStockByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStockByCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="GetProductStockResult" nillable="true" type="q19:StockResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="sale" nillable="true" type="q20:Venta" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="details" nillable="true" type="q21:ArrayOfVentaProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="ProcessSaleResult" nillable="true" type="q22:SaleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="employeeId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="SearchSalesResult" nillable="true" type="q23:ArrayOfVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MilyUnaNochesService.Contracts" minOccurs="0" name="details" nillable="true" type="q24:ArrayOfVentaProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidateSaleResult" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>